asgiref==3.7.2
astroid==3.0.3
dill==0.3.8
Django==5.0.1
django-extensions==3.2.3
djangorestframework==3.14.0
isort==5.13.2
mccabe==0.7.0
platformdirs==4.2.0
pylint==3.0.3
pytz==2024.1
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.12.3
typing_extensions==4.9.0
